@tailwind base;
@tailwind components;
@tailwind utilities;

.ml1 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ef4444;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}
.ml1 .line2 {
    bottom: 0;
}

.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}

.toggle {
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,
        0 0 0 2px var(--tglbg) inset, var(--togglehandleborder) !important;
}
